# Archives
*.zip
*.tar.gz
*.gz
*.tgz

# Object files
*.o
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Images
*.png
*.pdf

# etc
*.log
*.aux
